@charset "UTF-8";

.endroll {
  height: 100%;
  background-color: #111;
  background-image: radial-gradient(#333, #111);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
  width: 100vw;
  font-weight: 700;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

#index {
  font-size: 4em;
  margin: 40vh auto;
  // height: 20vh;
  height: 100vh;
  text-transform: uppercase;
}

#index span {
  display: block;
  font-size: 0.4em;
  opacity: 0.8;
}

#index div {
  position: fixed;
  margin: 2vh 0;
  opacity: 0;
  left: 10vw;
  width: 80vw;
  animation: switch 20s ease-in 2s;
}

#index div:nth-child(1) {
  animation-delay: 2s;
}

#index div:nth-child(2) {
  animation-delay: 8s;
}

#index div:nth-child(3) {
  animation-delay: 14s;
}

@keyframes switch {
  0% {
    opacity: 0;
    filter: blur(20px);
    transform: scale(12);
  }
  3% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
  10% {
    opacity: 1;
    filter: blur(0);
    transform: scale(0.9);
  }
  13% {
    opacity: 0;
    filter: blur(10px);
    transform: scale(0.1);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  font: 300 30px/1 "Open Sans Condensed", sans-serif;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  animation: 60s credits linear 21s;
}

.movie {
  margin-bottom: 50px;
  font-size: 50px;
}

.teacher {
  margin-top: 300px;
  margin-bottom: 200px;
  font-size: 35px;
  text-transform: uppercase;
}

@keyframes credits {
  0% {
    top: 100%;
  }
  100% {
    top: -500%;
  }
}

#index >.fadein {
  animation: fadeIn 3s ease-in 60s;
  animation-fill-mode: forwards;
  font-size: 0.8em;
  margin: 25px;
  color: #fff;
}
a:hover {
  color: red;
}
a:active {
  color: yellow;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
